:root {
  --green1: #585931;
  --green2: #848551;
  --green3: #C4B8A7;
  --green4: #9A9B6F;
  --color-texto: #6F624F;
  --fondo-tarjetas: #E1D9CC;
  --subtitulos-inicio: #000000;
  --leer-mas: #A9B709;
}


/*----------------AGREGAR LA FUENTE OMEGLE---------------*/
@font-face {
  font-family: 'omegle';
  src: url(fuentes/OMEGLE.ttf);
}

@font-face {
  font-family: 'caudex';
  src: url(fuentes/Caudex-Regular.ttf);
}

@media only screen and (max-width: 767px) {
  .fondo {
    background-attachment: scroll; /* O simplemente no incluir background-attachment */

    }  }


*{
  box-sizing: border-box;
}



/*Espacios globales*/
body {
  background-image: url(imagenes/fondo_luwa4.jpg);
  background-position: center;
  background-attachment: fixed;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
}







/*______________________________ENCABEZADO_________________________________________________*/
/*__________________________________________________________________________________________*/




header {
  padding: 10px 0;
  font-family: 'omegle';
  font-size: 1.25rem;
  margin-top: 8px;

}


.opciones-menu {
  justify-content: end;

}

header .container-fluid {
  margin-left: 10px;
  margin-right: 10px;
}

#logos {
  text-align: center;
  justify-content: center;
  margin-right: 5px;
  margin-left: 10px;
  padding: 5px 5px;
}

#logo {
  text-align: center;
  justify-content: center;
  margin-right: 5px;
  padding: 5px 5px;
}

header .margen-ima {
  /*imagen encabezado*/
  height: 80px;
  width: auto;
}




/*contiene todos los estilos que le dan forma a la lista*/
#menuNavegacion ul {
  list-style: none;
  /*para eliminar el estilo*/
  margin: 0;
  padding: 0;

}

#menuNavegacion .navbar ul li {
  margin: 10px 20px;
  /*para que no este en forma de loista se pone esto, lo acomoda en forma horizontal en bloques*/
  display: inline-block;
}


#menuNavegacion ul li a {
  /*color de fuente de la barra de navegación*/
  color: var(--green1);
  /*tamaño de la fuente*/
  font-size: 18px;
  /*padding para cada opción del menú, de arriba y abajo 10px y derecha a izquierda 20px*/
  padding: 5px 10px;
  /*para quitar el subrayado*/
  text-decoration: none;
}


#menuNavegacion ul li a.active {
  /*background: var(--green6); /*cambiar de color el fondo cuando se pasa el mause*/
  /*cambia de color el texto cuando se pasa el mouse*/
  color: var(--green2);
  transition: .5s;
}


#menuNavegacion ul li a:hover {
  /*background: var(--green6); /*cambiar de color el fondo cuando se pasa el mause*/
  /*cambia de color el texto cuando se pasa el mouse*/
  color: var(--green2);
  transition: .5s;
}


#submenu {
  background-color: var(--green2);
  /*dar color al submenu*/
}

.navbar li:hover >ul{
  display:block;
}
#menunavegacion .navbar li ul li{
  position:relative;
}
#menunavegacion .navbar li ul li ul{
  right:540px;
  top:0px;
}

/*______________________________FIN DE ENCABEZADO_________________________________________________*/
/*__________________________________________________________________________________________*/



/*--------------------------------------CONTENEDOR GENERAL-------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/




#frase {
  color: var(--green2);
  font-family: "omegle";
  margin-right: 50px;
  padding-top: 30px;
  text-align: end;
}


#bienvenida {
  color: var(--green1);
  font-family: "omegle";
  text-align: center;
  padding-top: 50px;
  font-size: 56px;
  margin-bottom: 20px;
}




/*ESTILO PARA TARJETAS DE INICIO*/
.contenedor-tarjeta {
  background-color: var(--fondo-tarjetas);
  border-style: solid;
  border-width: 4px;
  border-color: var(--green1);
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin-top: 15px;
  margin-bottom: 15px;
}



/*clase para dar color a todos los parrafos dela página de inicio*/
.parrafos-inicio {
  color: var(--color-texto);
  font-family: 'caudex';
  font-size: 16px;
  margin: 10px 30px;
  text-align: justify;
}

/*clase para los subtitulos de la página de inicio*/
.subtitulos-tarjetas {
  font-family: 'omegle';
  font-size: 1.5rem;
  color: var(--subtitulos-inicio);
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

/*clase para el botón de leer más*/
.leermas-inicio {
  text-decoration: none;
  font-family: 'caudex';
  font-size: 16px;
  color: var(--leer-mas);
  nav-right: initial;
  margin: 0px 20px;
  padding-bottom: 10px;
}




/*====PRIMERA TARJETA DE LA PÁGINA DE INICIO===========*/
#tarjeta-inicial {
  border-style: none;
  background: none;
}


#parrafo-intro {
  text-align: justify;
  font-size: 18px;
  word-spacing: 10px;
}

#inicio-parrafo {
  font-weight: bold;
  font-size: 18px;
}

.carousel-inner .img-carrusel {
  width: 100%;
  height: 280px;
  padding: 0 10px
}


#centrar-carrusel {
  align-items: center;
  justify-content: center;
}

/*======= FIN DE LA PRIMERA TARJETA DE LA PÁGINA DE INICIO===========*/



/*======OBJETIVO GENERAL=========*/
#obj-general {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
}

/*======FIN DE OBJETIVO GENERAL=========*/




/*======OBJETIVOS ESPECÍFICOS=========*/
#lista-objetivos {
  list-style: disc;
}

#contenedor-especificos {
  width: 100%;
  height: 100%;
}

/*======FIN DE OBJETIVOS ESPECÍFICOS=========*/


/*-- =======JUSTIFICACIÓN Y SITUACIÓN PROBLEMÁTICA =============-*/
#contenedor-just-situ {
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#contenedor-just-situ2 {
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#contenedor-just-situ3 {
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#contenedor-just-situ4 {
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#contenedor-just-situ5 {
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
}


#significadoluwa {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

#img-significadoluwa {
  height: 450px;
  width: auto;

}

/*-- ======= FIN DE JUSTIFICACIÓN Y SITUACIÓN PROBLEMÁTICA =============-*/


/*-- =======METAS=============-*/
#contenedor-imgmetas {
  max-width: 1030px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#tamañoImagenes {
  width: 230px;
  /* Establece el ancho al 80% del contenedor */

}

#img-metas {
  margin-top: 30px;
  margin-bottom: 0px;

}

#alinear-contenedor {
  margin-top: 20px;

}

.margen {
  margin-bottom: 0px;
}

/*-- ======= FIN DE METAS=============-*/


/*-- =======NUESTRO EQUIPO=============-*/

.contenedor-equipo {
  background: none;
  border-style: none;
}

#equipo {
  max-width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.img-profesores {
  height: 200px;
}


#alumnos {
  padding: 10px 30px;
}

/*-- ======= FIN DE NUESTRO EQUIPO=============-*/




/*-- =======COLABORADORES=============-*/
.img-colaboradores {
  height: 100px;
  width: 100px;
}


#contenedor-colaboradores {
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;

}

#fila-colaboradores {
  align-items: center;
  justify-content: center;
}

/*-- ======= FIN DE COLABORADORES=============-*/

/*--------------------------------------FIN DE CONTENEDOR GENERAL-------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/






/*TITULOS */
.titulos {
  color: var(--green1);
  font-family: "omegle";
  text-align: center;
  padding-top: 10px;
  font-size: 3em;
  margin-bottom: 20px;
  text-transform: uppercase;
}



/*clase para dar formato a todos los parrafos de los carruseles*/
.parrafos-carrusel {
  color: var(--color-texto);
  font-family: 'caudex';
  font-size: 18px;
  margin: 10px 30px;
  text-align: justify;

  height: calc(100% - 00px);
  /*para que ocupe toda la pantalla al 100 pero el calc es para que reste lo de la barra de nav que son 110px*/
}

/*clase para dar color a todos los parrafos dela página de inicio*/
.carrusel {
  margin: 10px 30px;
}

.diapositivas {
  height: 100%;

}

.diapositiva {
  height: 100%;
  width: 100%;
}

.tarjeta-justificacion {
  height: 100%;
  justify-content: center;
  align-items: center;
}

#tarjeta-just { 
  height: 100%;
  border-style: none;
  background: none;
}
#tarjeta-just2 { 
  height: 100%;
  border-style: none;
  background: none;
}
#tarjeta-just3 { 
  height: 100%;
  border-style: none;
  background: none;
}


#contenedor-parrafos {
  max-width: max-content;
  height: 500px;
  padding-top: 50px;
}

#fila-justificacion {
  justify-content: center;
  align-items: center;
  text-align: center;

}



#img-cadenatrofica {
  height: 150px;
  width: 200px;
}

#img-benefEcosiste {
  height: 200px;
  width: 150px;
}




/*========================================================================================================*/
/*===============================FUNDAMENTO TEORICO======================================================*/


#titulo-serpiente {
  color: var(--green1);
  font-family: "omegle";
  text-align: center;
  padding-top: 30px;
  font-size: 56px;
  margin-bottom: 20px;

}

.carousel-inner .img-fundamento {
  height: 400px;
  padding-left: 30px;
  padding-right: 30px;
}

#tarjeta-fundamento {
  border-style: none;
  background: none;
  width: 1500px;

}


/*====================================*/


#borrar-estiloTarjeta {
  background: none;
  border-style: none;
  height: max-content;
}


.estilo-tarjeta {
  background-color: var(--fondo-tarjetas);
  border-style: solid;
  border-width: 4px;
  border-color: var(--green1);
  border-radius: 5px;
  margin: 15px 10px;
  box-shadow: 0 4px 8px #585931;
  height: 500px;
}



.contenedor-fundamento {
  width: 1500px;
  align-items: center;
  align-content: center;
  text-align: center;
}

.fila-fundamento {
  justify-content: center;
  align-items: center;

}


/*clase para los subtitulos de la página de fundamento teórico*/
.subtitulos-fundamento {
  font-family: 'omegle';
  font-size: 20px;
  color: var(--subtitulos-inicio);
  padding-top: 20px;
  text-align: center;
  margin: 5px 15px;

}


/*clase para dar formato a todos los parrafos de fundamento teórico*/
.parrafos-fundamento {
  color: var(--color-texto);
  font-family: 'caudex';
  font-size: 16px;
  margin: 0px 30px;
  text-align: justify;
}

/*clase para el botón de leer más fundamento*/
.leermas-fundamento {
  text-decoration: none;
  font-family: 'caudex';
  font-size: 16px;
  color: var(--leer-mas);
  text-align: end;
  margin: 0px 20px;
  padding: 10px 5px;

}


#carrusel-fundamento {
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  margin: 10px 30px;
}

.imgcarrusel-fundamento {
  height: 300px;
}








/*_______________educacion ambiental_________________*/

.general-contenedortxt {
  margin-top: 15px;
  margin-bottom: 15px;
}

.texto-general {
  justify-content: center;
}

.contenedor-texto {
  margin: 0 15px;
  justify-items: center;
  align-content: center;
}

.parrafo-texto {
  text-align: justify;
  font-family: 'caudex';
  color: var(--color-texto);
  font-size: 18px;
  word-spacing: 10px;
  margin: 15px 10px;
}


/*_______________amenazas a la conservación_________________*/


#img-conservacion {
  margin: 0 15px;
  text-align: center;
}

#conservacion {
  width: 100%;
  height: 230px;
}


/*========================================================================================================*/
/*===============================FIN DE FUNDAMENTO TEORICO======================================================*/







/*========================================================================================================*/
/*===============================CARACTERISTICAS sin usar=====================================================*/




#menu-caracteristicas {
  text-align: center;
}


.menunav-carac {
  justify-content: center;
  font-family: 'omegle';
  font-size: 20px;
  text-transform: uppercase;
  color: var(--subtitulos-inicio);
}





/*========================================================================================================*/
/*===============================FIN DE CARACTERISTICAS======================================================*/





/*========================================================================================================*/
/*===============================MITOLOGIA======================================================*/

.img-mitologia {
  height: 200px;
  width: 100%;
}


/*========================================================================================================*/
/*===============================DIVERSIDAD DE SERPIENTES EN MÈXICO======================================================*/
.contenedor-generaltipos{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.contenedor-tipos{
  display: flex;
  width: 90%;
  height: 100%;
  justify-content: space-around;

}


.type-ofidio{
  height: 310px;
  padding: 5px 15px;
  margin-bottom: 10px;
}

.tarjeta-tipos{
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
  transition: 0.5s ease-in-out;

}

.tarjeta-tipos:hover{
  transform: translateY(20px);
}

.tarjeta-tipos:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, 	rgba(36,36,36,1.000),	rgba(88,89,49,1.000));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.tarjeta-tipos:hover:before{
  opacity: .8;
}

#img-tiposSerpientes{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.info{
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}

.tarjeta-tipos:hover .info{
  opacity: 1;
  transform: translateY(0px);
}

.titulos-tipos{
  margin: 0;
  font-family: 'omegle';
}

.parrafo-tipos{
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
  font-family: 'caudex';
}

#btn-tipos{
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #fff;
  color: var(--green1);
  font-family: 'caudex';
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

#btn-tipos:hover{
  box-shadow: 0px 7px 10px rgba(55, 100, 43, 0.5);
  color: var(--green2);
  background: #D6D9C1;
}
  

/*___________________CORALILLOS____________________*/


.name-ofidios{
  text-align: center;
  color: var(--fondo-tarjetas);
  font-family: 'caudex';
  font-weight: bold;
  padding: 20px 0;
}

#img-tipos{
  height: 30vw;
  width: 80%;
  text-align: center;
}


#fondo-modal{
  background-color: rgb(0, 0, 0);
}


#fondo-tipos{
  background-color: #000000;
  align-items: center;
  width: 90vw;
}

#center-tiposimg{
  justify-content: center;
  align-items: center;
  display: flex;
  

}





/*===============================FIN DE DIVERSIDAD DE SERPIENTES EN MÈXICOCO======================================================*/





/*========================================================================================================*/
/*===============================CONTACTO======================================================*/

#contenedor-contacto {
  text-align: center;

}


#parrafo-contacto {
  color: var(--color-texto);
  font-family: 'caudex';
  font-weight: bold;
  margin-top: 10px;
}

.fila-contacto {
  text-align: center;
  padding: 10px 10px;
}


/*--------------------------------------PIE DE PÁGINA-------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/

footer {
  background-color: var(--green1);
  padding: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-size: 16px;
}

.img-redessociales {
  width: 25px;
  height: 25px;
  margin: 5px 5px;
}

.pie-pagina .row {
  padding: 10px 10px;
}

.pie-pagina .row .col-10 {
  text-align: left;
}

.pie-pagina .row .col-2 {
  text-align: right;
}

/*========================================= CARD DE NAVEGACION =========================================*/
.container2 {
  margin-top: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.encabezado-card {
  background-color: var(--green2);
  padding: 10px;
  font-family: 'omegle';
}

.tabla-modi {
  background-color: var(--green4);

}

.nav-tabs .nav-item .nav-link {
  color: #3d3636;
  font-weight: bold;
  background-color: var(--green4);
}

.nav-tabs .nav-item .nav-link.active {
  color: var(--green1);
}

.card-body2 {
  padding: 20px;
  background-color: var(--green2);
  font-family: 'caudex';
}

.contenido {
  display: none;
}

.contenido p {
  margin-bottom: 15px;
}

.contenido h5 {
  margin-top: 15px;
  font-weight: bold;
}

.contenido:last-child {
  margin-bottom: 0;
}

/*================================= Fin card de navegacion========================================*/


/*======================================= MAPA =================================================*/
#map {
  height: 400px;
  width: 100%;
}

/*===https://developers.google.com/maps/gmp-get-started?hl=es-419 hacer mapa =====*/

/*=============================== evidencias tarjeta======================================================*/
#contenedor-evidencias {
  max-width: 1500px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#tarjeta-evidencia {
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#fila-evidences{
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
}

#titulo-nuestro {
  color: var(--green1);
  font-family: "omegle";
  text-align: center;
  padding-top: 30px;
  font-size: 45px;
  margin-bottom: 20px;
}


.img-evi {
  height: 300px;
  width: 100%;
  border-style: none;
}

#carrusel{
  padding: 10px;
}


#vermas-evidencias {
  text-decoration: none;
  font-family: 'caudex';
  font-size: 22px;
  color: var(--subtitulos-inicio);
  nav-right: initial;
  margin: 0px 20px;
  padding-bottom: 10px;
  font-weight: bold;
}




#evidencias_carrusel {
  position: relative;
  width: 50%;
  height: 32vw;
  margin: 10px auto 90px auto;
  perspective: 1400px;
  transform-style: preserve-3d;
}

#evidencias_carrusel label, #evidencias_carrusel label img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  font-size: 70px;
  justify-content: center;
  transition: transform 400ms ease;
}

#img_evidencias {
  border: 5px solid var(--green3);
  height: 100%;
  width: 100%;
}

/*radio button*/
input[type=radio]{
  position: relative;
  top: 110%;
  left: 50%;
  width: 15px;
  height: 15px;
  margin: 0 10px 0 0;
  opacity: 0.6;
  transform: translateX(-83px);
  cursor: pointer;
}


input[type=radio]:checked{
  opacity: 1;
}

/*carrusel 1*/
/* funcionalidad del control deslizante */
/* posicion normal */
#s1:checked~#slider1,
#s2:checked~#slider2,
#s3:checked~#slider3,
#s4:checked~#slider4,
#s5:checked~#slider5,
#s6:checked~#slider6,
#s7:checked~#slider7,
#s8:checked~#slider8,
#s9:checked~#slider9{
  box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.3),
      0px 12px 6px rgba(0, 0, 0, 0.2);
  transform: translate3d(0%, 0, 0px);/*para normales*/
}

/*siguiente imagen del control deslizante*/
#s1:checked~#slider2,
#s2:checked~#slider3,
#s3:checked~#slider4,
#s4:checked~#slider5,
#s5:checked~#slider6,
#s6:checked~#slider7,
#s7:checked~#slider8,
#s8:checked~#slider9,
#s9:checked~#slider1 {
  transform: translate3d(20%, 0, -100px);
  box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.3),
      0px 12px 6px rgba(0, 0, 0, 0.2);
}


/*junto a la siguiente imagen del control deslizante*/
#s1:checked~#slider3,
#s2:checked~#slider4,
#s3:checked~#slider5,
#s4:checked~#slider6,
#s5:checked~#slider7,
#s6:checked~#slider8,
#s7:checked~#slider9,
#s8:checked~#slider1,
#s9:checked~#slider2 {
  transform: translate3d(40%, 0, -250px);
  box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.3),
      0px 12px 6px rgba(0, 0, 0, 0.2);
}

/*junto a las 2 siguientes imagenes del control deslizante*/
#s1:checked~#slider4,
#s2:checked~#slider5,
#s3:checked~#slider6,
#s4:checked~#slider7,
#s5:checked~#slider8,
#s6:checked~#slider9,
#s7:checked~#slider1,
#s8:checked~#slider2,
#s9:checked~#slider3 {
  transform: translate3d(40%, 0, -250px);
  box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.3),
      0px 12px 6px rgba(0, 0, 0, 0.2);
}

/*junto a las 3 siguientes imagenes del control deslizante*/
#s1:checked~#slider5,
#s2:checked~#slider6,
#s3:checked~#slider7,
#s4:checked~#slider8,
#s5:checked~#slider9,
#s6:checked~#slider1,
#s7:checked~#slider2,
#s8:checked~#slider3,
#s9:checked~#slider4 {
  transform: translate3d(40%, 0, -250px);
  box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.3),
      0px 12px 6px rgba(0, 0, 0, 0.2);
}




/*imagen anterior del control deslizante*/
#s1:checked~#slider9,
#s2:checked~#slider1,
#s3:checked~#slider2,
#s4:checked~#slider3,
#s5:checked~#slider4,
#s6:checked~#slider5,
#s7:checked~#slider6,
#s8:checked~#slider7,
#s9:checked~#slider8 {
  transform: translate3d(-20%, 0, -100px);
  box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.3),
      0px 12px 6px rgba(0, 0, 0, 0.2);
}


/*anterior a la imagen anterior del control deslizante*/
#s1:checked~#slider8,
#s2:checked~#slider9,
#s3:checked~#slider1,
#s4:checked~#slider2,
#s5:checked~#slider3,
#s6:checked~#slider4,
#s7:checked~#slider5,
#s8:checked~#slider6,
#s9:checked~#slider7{
  transform: translate3d(-40%, 0, -250px);
  box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.3),
      0px 12px 6px rgba(0, 0, 0, 0.2);
}


/*anterior a las 2 imagenes anteriores del control deslizante*/
#s1:checked~#slider7,
#s2:checked~#slider8,
#s3:checked~#slider9,
#s4:checked~#slider1,
#s5:checked~#slider2,
#s6:checked~#slider3,
#s7:checked~#slider4,
#s8:checked~#slider5,
#s9:checked~#slider6{
  transform: translate3d(-40%, 0, -250px);
  box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.3),
      0px 12px 6px rgba(0, 0, 0, 0.2);
}

/*anterior a las 3 imagenes anteriores del control deslizante*/
#s1:checked~#slider6,
#s2:checked~#slider7,
#s3:checked~#slider8,
#s4:checked~#slider9,
#s5:checked~#slider1,
#s6:checked~#slider2,
#s7:checked~#slider3,
#s8:checked~#slider4,
#s9:checked~#slider5{
  transform: translate3d(-40%, 0, -250px);
  box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.3),
      0px 12px 6px rgba(0, 0, 0, 0.2);
}




/*================== PROTOCOLOS DE ACTUACION==================*/
.tarjeta-protocolos {
  background-color: var(--fondo-tarjetas);
  border-style: solid;
  border-width: 4px;
  border-color: var(--green1);
  margin-top: 15px;
  margin-bottom: 15px;
}

#contenedor-proto1 {
  max-width: 1500px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#centrar-protocolos {
  justify-content: center;
}



#significadoluwa2 {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

#img-protocolos {
  height: 300px;
  width: auto;

}

/*================================== Material descragable============================*/

#contenedor-descargas {
  max-width: 1500px;
  margin-top: 15px;
  margin-bottom: 15px;
}


.contenedor-tarjeta4 {
  background-color: var(--fondo-tarjetas);
  border-style: solid;
  border-width: 2px;
  border-color: var(--green1);
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  margin-top: 15px;
  margin-bottom: 15px;

}

#pdf {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

#img-pdf {
  height: 90px;
  width: auto;
}


/*================================== EMERGENCIAS ============================*/

#contenedor-emergencias {
  justify-items: center;
  margin: 10px 15px;
  padding-bottom: 50px;
}



#fila-descripcion {
  text-align: center;
  justify-content: center;
}

#fila-hospitales {
  align-items: center;
  background: rgba(0, 0, 0, 10%);
}

#col-hospitales {
  height: 100%;
  padding: 10px 10px;
}


#col-mapa {
  height: 100%;
  padding: 10px 10px;
}

/*
#acordeon-hospital{
  background-color: darkorange;
  
}

#acordeon{
  background-color: darkred;
  
}
*/


#headingOne{
  padding-bottom: 20px;
}



.fondo-hospital {
  margin: 0;
  padding: 0;
}


.fila-datos {
  align-items: center;
  text-align: center;
  
}


.col-info {
  text-align: left;
}

#img-hospital{
  height: 40px;
  width: 40px;

}

.titulos-hospitales {
  font-family: 'caudex';
  text-align: center;
  font-weight: bold;
  color: var(--subtitulos-inicio);
}

.parrafo-hospitales {
  font-family: 'caudex';
  text-align: left;
  color: var(--color-texto);
  padding-left: 10px;
}


.link-hospitales {
  font-family: 'caudex';
  text-align: left;
  color: var(--color-texto);
  padding-left: 10px;
  text-decoration: none;
}



#scroll-emergencias{
  height: 550px;
  width: 100%;
  background-color: #000000;
}



/* ---------------------------------------------------------------*/
#titulo-principal-hospital{
  padding: 10px 15px;
  font-weight: bold;
  font-family: 'Omegle';
  color: var(--green1);
  font-weight: lighter;
  text-transform: uppercase;
}

#parrafo-principal-hosp {
  margin: 10px;
  font-size: 18px;
  font-family: 'caudex';
}


/*================================= Mostrar y ocultar los mapas========================================*/

.titulos-mapas{
  padding: 10px 15px;
  font-weight: bold;
  font-family: 'Caudex';
  color: var(--green1);
  font-weight: bold;
  text-align: center;
}

#btn-mapGeneral{
  background-color: #49492e;
  border-color: #49492e;
  font-family: 'caudex';
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
}


.ocultar-mapa{
  display: none;
}



/*================================= Fin de mostrar y ocultar los mapas========================================*/

/*================================= FIN EMERGENCIAS========================================*/

/*================================= galeria2 de imagenes evidencias =======================*/

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #848551;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /*ancho de las columnas*/ 
  /*autofill rellena el espacio con nuevas columnas y autofit usa todo el espacio disponible para las columnas que existen*/
  grid-auto-rows: minmax(200px, auto); /*alto de las columnas*/
  gap: 20px; /* espacio entre los elemnetos*/
  padding: 20px; /* espacio efuera de los elementos*/
  grid-auto-flow: dense; /*acomoda automaticamento los elementos para cubrir los espacio en blanco*/
}

@media (min-width: 600px) {
  .wide {
    grid-column: span 2; /*span es para los usar mas de un espacio*/
  }

  .tall {
    grid-row: span 2;
  }
}

/*=============================== fin de galeria2 de imagenes evidencias ===========================*/

.conteinerGaleria{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 250px;
  grid-gap: 20px;
  padding: 100px 0;
  grid-auto-flow: dense; /*acomoda automaticamento los elementos para cubrir los espacio en blanco*/
}

.boxg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.boxg:nth-child(1){
  grid-column-start: span 2;
}
.boxg:nth-child(4){
  grid-column-start: span 2;
}

@media(max-width:991px){
  .conteinerGaleria{
    padding: 30px;
    grid-template-columns: repeat(1, 1fr);
  }
  .boxg:nth-child(1){
    grid-column-start: span 1;
  }
  .boxg:nth-child(4){
    grid-column-start: span 1;
  }
}
